ud04/04_3.dtd

<!ELEMENT descipcion (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT ano (#PCDATA)>
<!ELEMENT fecha (dia,mes,ano)>
<!ELEMENT evento (descripcion, fecha)>
<!ELEMENT hechosHistoricos (evento+)>
<!ATTLIST hechosHistoricos
    xsi:noNamespaceSchemaLocation CDATA #IMPLIED
    xmlns:xsi CDATA #IMPLIED>