ud04/04_4.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT EDD (#PCDATA)>
<!ELEMENT SINF (#PCDATA)>
<!ELEMENT PROG (#PCDATA)>
<!ELEMENT recreo (#PCDATA)>
<!ELEMENT Libre (#PCDATA)>
<!ELEMENT BBDD (#PCDATA)>
<!ELEMENT LMSGI (#PCDATA)>
<!ELEMENT lunes ()>
<!ATTLIST EDD prof ID #REQUIRED>
<!ATTLIST SINF prof ID #REQUIRED>
<!ATTLIST PROG prof ID #REQUIRED>
<!ATTLIST BBDD prof ID #REQUIRED>
<!ATTLIST EDD prof ID #REQUIRED>
<!ATTLIST LMSGI prof ID #REQUIRED>