ud04/04_5.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT city (#PCDATA)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT zip (#PCDATA)>
<!ELEMENT firstName (#PCDATA)>
<!ELEMENT lastName (#PCDATA)>
<!ELEMENT contactNo (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT adress (city,state,zip)>
<!ELEMENT employee (firstName, lastName,contactNo,email,address)>
<!ELEMENT company (employee)>

