ud04/04_5.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT City (#PCDATA)>
<!ELEMENT State (#PCDATA)>
<!ELEMENT Zip (#PCDATA)>
<!ELEMENT FirstName (#PCDATA)>
<!ELEMENT LastName (#PCDATA)>
<!ELEMENT ContactNo (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Address (City,State,Zip)>
<!ELEMENT Employee (FirstName, LastName,ContactNo?,Email+,Address)>
<!ELEMENT Company (Employee)>

